footer {
    &.footer {
        padding: 60px 0 0;
        background-color: #edf7ff;
        .copy-right {
            p {
                text-align: center;
                margin-bottom: 0;
                font-size: 16px;
                font-weight: 500;
                color: #565656;
                padding: 20px 0;
            }
        }
    }
}