header {
    nav {
        &.navbar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 9;
            padding: 2.5rem 1rem;

            a {
                &.navbar-brand {
                    img {
                        width: 100%;
                        max-width: 180px;
                    }
                }
            }

            ul.navbar-nav {
                li.nav-item {
                    margin: 0 20px;
                    position: relative;

                    &:last-child {
                        margin-right: 0;
                    }

                    a.nav-link {
                        font-size: 16px;
                        padding: 5px 0px;
                        color: #fff;
                        border-bottom: 2px solid #fff0;

                        &.active {
                            border-bottom-color: #fff;
                        }

                        a {
                            margin-bottom: 10px;
                            display: block;
                            width: 100%;
                            color: #000;
                            font-weight: 600;

                            &:last-child {
                                border-top: 1px solid #ddd;
                                padding: 10px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}